body{
  
}
/* Set the width and height of the scrollbar */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Add a background color to the scrollbar track */
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  /* Add a border to the scrollbar track */
  ::-webkit-scrollbar-track {
    border: 1px solid #ccc;
  }
  
  ::-webkit-scrollbar-track:hover{
    border: 0;
    background-color: #888;
    }
  
  /* Add a background color to the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  /* On hover, add a darker background color to the scrollbar thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #f1f1f1;
  }